// Iterate over articles create
h2 #{article.title}
h3 #{article.subtitle}
    - var arr = article.content || []
    each text in arr
        case text.type
            when 'subtitle'
                h4 #{text.value}
            when 'quote'
                blockquote #{text.value}
            default
                p !{text.value.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br/>')}
        br
    - var images = article.images || []
    if images.length > 0
        each img in images
            figure
                img(src=img.src alt=img.alt)
                figcaption(class='margin-left-45') #{img.caption}
    - var videos = article.videos || []
    if videos.length > 0
        each v in videos
            video(src=`/videos/${v.src}` width="480" controls type="video/mp4")
    - var sources = article.sources || []
    if sources.length > 0
        p sources:
        each link in sources
            a(href=link) #{link}
            br