h1= 'My goal with this project is to show my skills and help anyone that is looking for a career roadmap.'

h3= 'These are the main areas I will focus on:'
p
    ol
        li= 'Computer Science:'
        p
            | This is where everything started. The core of the discipline.
            | The implications of algorithm's analysis and design it's critical.
            | Hence the importance of understanding deeply and thoroughly.
            | Still in these days many Software Engineers have "The Art of Computer Programming
            | (TAOCP - ISBN: 0-201-03801-3)" by Donald Knuth as a reference.
            | This book series was started in 1968. Of course there are other books such as 'Introduction to Algorithms,
            |(3rd ed. - ISBN: 9780262033848) that are keeping up with the new
            | trends. This text book is broadly used in many Universities around the Globe.
            | And even though there were many improvements and better implementations of the algorithms,
            | it's not way near to technology that is affected by Moore's law.
        br
        li= 'Technology (OOP):'
        p It's here where we apply the principles described above. In my case I have chosen Object Oriented for the
        | proximity with the real world. In this area the languages of preference change often, but the paradigm doesn't.
        | Third part code has evolved from libraries to APIs.
        br
        li= 'Soft skills:'
        p
        | In the past Technical people have the reputation of be unfriendly, introverts and sometimes even rude.
        | This stereotype many times true, in my humble opinion was an exaggeration and the result of poor communication.
        | With social media the game has changed.
        | A bridge between these two worlds was built. And managers have no option but trust technical employees to achieve their goals.
        | It's hard to find a business that could not be improved by technology. Thus the necessity to be flexible and adapt.
        | This goes for both technical and business people.
