h1= 'This project is meant not only to show my skills, but to help anyone that is looking for a career roadmap.'

h3= 'There are three main areas this project will focus on:'
p
  ol
    li= 'Computer Science:'
      ul
        li= 'Algorithms'
        li= 'Data Structures'
    li= 'Technology (OOP):'
      ul
        li= 'Language - Paradigm Implementation (Prototype vs Class)'
        li= 'JS'
        li= 'JEE'
        li= 'Frameworks'
        li= 'Persistence'
        li= 'Aggregate DB'
        li= 'RDBMS'
        li= 'Comparison'
        li= 'Tools that support Best Practices'
        li= 'Static check (ESLint)'
        li= 'BDD/TDD (Assertion libraries Mocha, Chai, etc.)'
        li= 'e2e (Headless testing w/PhantomJs vs Real browser w/ChromeDriver)'
        li= 'CI vs CD'
    li= 'Soft skills:'
      ul
        li= 'Agile'
        li= 'Poker planning'
        li= 'Scrum or XP?'
        li= 'Code reviews'
        li= 'Pairing'
        li= 'Job hunting'
        li= 'Offer negotiation'
